.menu{
    width: 100%;
    

}
.menu{
    display:  grid;
    grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
    grid-row: 150px;
}
.menu img{
    flex: 25%;
    flex-wrap: wrap;
}
@media screen and (max-width:600px) {
   .menu{
    display: grid;
    grid-template-rows: 340px 340px 430px;
   }    
}